.subscription_how_it_work {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background: url("/uploads/subscription_how_it_bg.jpg") no-repeat 100% 100%;
    background-size: cover;
}
.row_subscription_how_it_work {
    display: flex;
    flex-wrap: wrap;
}
.subscription_how_it_work_left {
    width: 30%;
    border-right: 1px solid white;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.subscription_how_it_work_ttl {
    font-size: 80px;
    font-weight: 100;
    line-height: 70px;
    position: relative;
    font-family: 'Noah-Grotesque';
    color: white;
}
.subscription_how_it_work_right {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.subscription_how_it_work_item:nth-child(1) {
    max-width: 250px;
    font-family: 'Noah-Bold';
    color: white;
    font-size: 24px;
}
.subscription_how_it_work_item:nth-child(3) {
    max-width: 190px;
    font-family: 'Noah-Bold';
    color: white;
    font-size: 24px;
}
.subscription_how_it_work_item:nth-child(2) {
    width: 190px;
    text-align: center;
}
.subscription_how_it_work_cover {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
    .subscription_how_it_work {
        background-image: -moz-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        min-height: auto;
    }
    .subscription_how_it_work_ttl {
        font-size: 50px;
        text-align: center;
        color: #333;
        line-height: 45px;
    }
    .subscription_how_it_work_left, .subscription_how_it_work_right {
        width: 100%;
    }
    .subscription_how_it_work_left {
        padding: 20px 0px;
        border-right: none;
    }
    .subscription_how_it_work_cover {
        flex-wrap: wrap;
        justify-content: center;
    }
    .subscription_how_it_work_right .subscription_how_it_work_item {
        padding: 10px;
        width: 100%;
        max-width: none;
        color: #333;
        text-align: center;
    }
}