.current_research {
    padding-bottom: 150px;
    padding-top: 50px;
}
.current_research_title {
    font-size: 52px;
    text-align: center;
    position: relative;
    font-family: 'Noah-Grotesque';
}
.current_research_title::before {
    content: '';
    width:75px;
    height: 5px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #fa5e66; /* Old browsers */
    background: -moz-linear-gradient(left, #fa5e66 0%, #0078ba 50%, #00beb0 100%, #207cca 100%, #7db9e8 100%, #00beb0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5e66', endColorstr='#00beb0',GradientType=1 );
}
.row_current_research {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.current_research_item {
    width: 370px;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0,0,0,.12) 0 12px 12px;
    font-family: 'Noah-regular';
    font-size: 18px;
}
.card_img img {
    max-width: 100%;
    width: 100%;
    display: block;
}
.card_img_line {
    height: 5px;
    background: #fa5e66; /* Old browsers */
    background: -moz-linear-gradient(left, #fa5e66 0%, #0078ba 50%, #00beb0 100%, #207cca 100%, #7db9e8 100%, #00beb0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5e66', endColorstr='#00beb0',GradientType=1 );
}
.card_desc {
    height: 90px;
}
.card_permalink {
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
    .current_research {
        padding-bottom: 60px;
    }
    .current_research_title {
        font-size: 40px;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .current_research_item {
        width: 330px;
    }
    .current_research {
        padding-bottom: 60px;
    }
}