.security_main_screen {
    padding-top: 130px;
    padding-bottom: 150px;
    position: relative;
    min-height: 500px;
}
@media (min-width: 1200px) {
    .security_main_screen {
        background: url("/uploads/security.jpg") no-repeat 100% 100%;
        background-size: cover;
    }
}
.security_main_screen h1 {
    font-family: 'Noah-Grotesque';
    font-size: 52px;
    font-weight: 100;
    line-height: 54px;
    position: relative;
}
.security_main_screen h1::before {
    content: '';
    width: 80px;
    height: 5px;
    background: #fa5e66;
    background: -moz-linear-gradient(left, #fa5e66 0%, #0078ba 50%, #00beb0 100%, #207cca 100%, #7db9e8 100%, #00beb0 100%);
    background: -webkit-linear-gradient(left, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    background: linear-gradient(to right, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5e66', endColorstr='#00beb0',GradientType=1 );
    position: absolute;
    left: -20px;
    bottom: -20px;
}
.security_main_screen_left {
    width: 60%;
}
.security_main_screen_des {
    padding: 30px 0px 0px 0px;
    font-family: 'Noah-Grotesque';
    font-size: 18px;
}

.row_security_buttons  {
    padding-top: 40px;
}
.search_btn {
    padding: 28px;
    border-radius: 50px;
    background: url(/uploads/btn_profile_bg.png) no-repeat 100% 100%;
    background-size: cover;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    display: block;
    font-family: 'Noah-Bold';
    font-size: 13px;
    text-align: center;
    width: 245px;
    text-decoration: none;
    color: #333;
}
@media (min-width: 320px) and (max-width: 767px) {
    .security_main_screen {
        background: white;
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        background-size: cover;
        min-height: auto;
    }
    .security_main_screen_left {
        width: 100%;
    }
    .security_main_screen h1 {
        font-size: 52px;
        font-weight: 100;
        line-height: 54px;
        position: relative;
        margin-bottom: 25px;
        text-align: center;
    }
    .security_main_screen h1::before {
        left: 50%;
        transform: translateX(-50%);
    }
    .security_main_screen_des {
        padding-right: 0px;
    }
    .row_subscription_buttons {
        display: flex;
        justify-content: center;
    }
}