.admin_title {
    text-align: center;
    padding: 30px 15px;
}
.admin_title h1 {
    font-family: 'Podkova', serif;
    font-weight: bold;
}
.admin_edit_container {
    min-height: 100vh!important;
    padding-bottom: 40px;
}