.clinic_loop_item {
    padding-top: 85px;
    padding-bottom: 75px;
}
.clinic_loop_row:nth-child(odd) {
    background-image: -webkit-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    background-image: -ms-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    background-size: cover;
}
.clinic_loop_item_title a{
   color: #00a2b4;
    text-decoration: none;
    font-size: 22px;
    font-family: Noah-regular;
}
.clinic_loop_item_title a:hover {
    color: #f55c64;
    text-decoration: underline;
}
.clinic_loop_item_title {
    margin-bottom: 15px;
}
.clinic_loop_item_characters {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.clinic_loop_item_characters_left {
    min-width: 220px;
    font-weight: bold;
    font-family: Noah-Bold;
    color: #000;
    font-size: 17px;
}
.clinic_loop_item_characters_right {
    font-family: Noah-regular;
    font-size: 18px;
}
.empty_result {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #00a2b4;
    text-decoration: none;
    font-size: 40px;
    font-family: Noah-regular;
}
@media (min-width: 320px) and (max-width: 767px) {
    .clinic_loop_item_characters_left {
        min-width: 130px;
    }
    .clinic_loop_item {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
