.thx {
    background: url(/uploads/clinic_bg.jpg) no-repeat 100% 100%;
    background-size: cover;
    padding-top: 240px;
    padding-bottom: 250px;
}
.thx h1 {
    font-family: 'Noah-Bold';
    font-size: 52px;
    font-weight: 100;
    line-height: 54px;
    position: relative;
}
.thx h1::before {
    content: '';
    width: 80px;
    height: 5px;
    background: #fa5e66;
    background: -moz-linear-gradient(left, #fa5e66 0%, #0078ba 50%, #00beb0 100%, #207cca 100%, #7db9e8 100%, #00beb0 100%);
    background: -webkit-linear-gradient(left, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    background: linear-gradient(to right, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5e66', endColorstr='#00beb0',GradientType=1 );
    position: absolute;
    left: -20px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.thx_left {
    text-align: center;
    max-width: 50%;
}
.thx_desc {
    margin-top: 55px;
    font-family: 'Noah-regular';
    font-size: 28px;
    margin-bottom: 50px;
}
.thx_btn_profile {
    padding: 25px 40px;
    border-radius: 50px;
    background-image: -moz-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    background-image: -ms-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    font-family: 'Noah-Bold';
    font-size: 13px;
    color: #333333;
    text-decoration: none;
}
@media (min-width: 320px) and (max-width: 767px) {
    .thx {
        background: white;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .thx_left {
        max-width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .thx {
        background: white;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .thx_left {
        max-width: 100%;
    }
}