.subscription_form_main {
    padding-top: 100px;
    padding-bottom: 120px;
    position: relative;
}
.row_subscription_form_main {
    display: flex;
    flex-wrap: wrap;
}
.subscription_form_main_left, .subscription_form_main_right {
    width: 50%;
    box-sizing: border-box;
}
.subscription_form_main_left {
    padding: 20px 40px 20px 0px;
}
.subscription_form_main_right {
    padding: 20px 0px 20px 40px;
}
.subscription_form_main_ttl {
    font-size: 42px;
    font-weight: 100;
    line-height: 42px;
    margin-bottom: 15px;
    font-family: 'Noah-Bold';
}
.subscription_form_main_subttl {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Noah-regular';
}
.subscription_form_main_important {
    margin-top: 25px;
    padding: 20px;
    border-left: 4px solid #333;
    font-size: 20px;
    font-family: 'Noah-Bold';
    margin-bottom: 25px;
}
.subscription_form_main_desc p {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Noah-regular';
    margin-bottom: 15px;
}
.subscription_form_main_important p:nth-child(1) {
    margin-bottom: 15px;
}
.border {
    border: 1px solid #333;
}
.color_gray {
    color: gray;
}
.justify-left {
    justify-content: left;
}
@media (min-width: 320px) and (max-width: 767px) {
    .subscription_form_main_left, .subscription_form_main_right {
        width: 100%;
    }
    .subscription_form_main_left {
        padding-right: 0px;
    }
    .subscription_form_main_right {
        padding-left: 0px;
    }
    .subscription_form_main {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
    }
    .subscription_form_main .custom_checkbox {
        width: 35px;
    }
}