:root {
    --dc_bg_clinic:  url(/uploads/clinic_bg.jpg) no-repeat 100% 100%;
    --font_bold: 'Noah-Bold';
    --font_regular: 'Noah-regular';

    --title_gradient: linear-gradient(to right, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    --title_gradient_webkit: -webkit-linear-gradient(left, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    --title_gradient_moz: -moz-linear-gradient(left, #fa5e66 0%, #0078ba 50%, #00beb0 100%, #207cca 100%, #7db9e8 100%, #00beb0 100%);

    --btn_bg_gradient: linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    --btn_bg_gradient_webkit: -webkit-linear-gradient(0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    --btn_bg_gradient_moz: -moz-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);

    --middle_black: #333;
    --white: #fff;
  }