.research_loop_item {
    padding-top: 90px;
    padding-bottom: 90px;
}
.research_loop_item_title a {
    font-family: Noah-regular;
    font-size: 27px;
    color: #00a2b4;
    margin-bottom: 20px;
    text-decoration: none;
}
.research_loop_item_row {
    display: flex;
    flex-wrap: wrap;
}
.research_loop_item_left {
    padding-top: 30px;
    width: 25%;
    padding-bottom: 30px;
    font-family: Noah-Bold;
    font-size: 18px;
    padding-right: 70px;
    box-sizing: border-box;
}
.research_loop_item_right {
    width: 75%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Noah-regular;
    font-size: 18px;
}
.research_line {
    height: 1px;
    width: 100%;
    background: #fa5e66;
    background: -moz-linear-gradient(left, #fa5e66 0%, #0078ba 50%, #00beb0 100%, #207cca 100%, #7db9e8 100%, #00beb0 100%);
    background: -webkit-linear-gradient(left, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    background: linear-gradient(to right, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5e66', endColorstr='#00beb0',GradientType=1 );
}
.research_loop_item:nth-child(odd) {
    background-image: -moz-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    background-image: -ms-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    background-size: cover;
}
.research_loop_btn {
    padding: 28px;
    border-radius: 50px;
    text-transform: uppercase;
    background: white;
    box-shadow: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: block;
    white-space: nowrap;
    font-family: 'Noah-Bold';
    font-size: 13px;
    margin-right: 25px;
}
.research_loop_item_row_btn {
    margin-top: 35px;
    display: flex;
}
.research_loop_btn::before {
    z-index: -1;
    border-radius: 50px;
}
.empty_result {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #00a2b4;
    text-decoration: none;
    font-size: 40px;
    font-family: Noah-regular;
}
@media (min-width: 320px) and (max-width: 767px) {
    .research_loop_item_left, .research_loop_item_right {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .research_loop_item {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .research_loop_item_row_btn {
        flex-wrap: wrap;
        justify-content: center;
    }
    .research_loop_btn {
        padding: 16px;
        margin-bottom: 20px;
        margin-right: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .research_loop_item {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}