.neon_button, .neon_button_red
{
    font-family: 'Forum', cursive;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    overflow: hidden;
    transition: 0.2s;
}

.neon_button:hover
{
    color: #fff;
    background: rgba(5,181,229,.7);
// box-shadow: 0 0 10px rgba(5,181,229,.7), 0 0 40px rgba(5,181,229,.7), 0 0 80px rgba(5,181,229,.7);
    transition-delay: 1s;
    text-decoration: none;
}
.neon_button_red:hover
{
    color: #fff;
    background: #ee3939;
// box-shadow: 0 0 10px rgba(5,181,229,.7), 0 0 40px rgba(5,181,229,.7), 0 0 80px rgba(5,181,229,.7);
    transition-delay: 1s;
}
.neon_button span, .neon_button_red span
{
    position: absolute;
    display: block;
}
.neon_button span:nth-child(1), .neon_button_red span:nth-child(1)
{
    top:0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgba(5,181,229,.7));
}
.neon_button:hover span:nth-child(1), .neon_button_red:hover span:nth-child(1)
{
    left:100%;
    transition: 1s;
}
.neon_button span:nth-child(3), .neon_button_red span:nth-child(3)
{
    bottom:0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgba(5,181,229,.7));
}
.neon_button:hover span:nth-child(3), .neon_button_red:hover span:nth-child(3)
{
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.neon_button span:nth-child(2), .neon_button_red span:nth-child(2)
{
    top:-100%;
    right:0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgba(5,181,229,.7));
}
.neon_button:hover span:nth-child(2), .neon_button_red:hover span:nth-child(2)
{
    top:100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.neon_button span:nth-child(4), .neon_button_red span:nth-child(4)
{
    bottom:-100%;
    left:0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgba(5,181,229,.7));
}
.neon_button:hover span:nth-child(4), .neon_button:hover span:nth-child(4)
{
    bottom:100%;
    transition: 1s;
    transition-delay: 0.75s;
}