.content {
    padding-top: 100px;
    padding-bottom: 130px;
}
.content p, .style_content p {
    margin-bottom: 15px;
    font-size: 15px;
    font-family: 'Noah-regular';
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 25px;
    font-family: 'Noah-Bold';
}
.content ul, .style_content ul, .content ol, .style_content ol {
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'Noah-regular';
    color: #333;
}
.content li, .style_content li {
    margin-bottom: 7px;
}
.content-referral {
    background-image: -moz-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    background-image: -webkit-linear-gradient(
            0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    background-image: -ms-linear-gradient( 0deg, rgba(250,94,102,0.102) 0%, rgba(0,120,186,0.102) 50%, rgba(0,190,176,0.102) 100%);
    background-size: cover;
}
.content-referral-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.referral-btn {
    padding: 28px;
    border-radius: 50px;
    text-transform: uppercase;
    background: white;
    box-shadow: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: block;
    white-space: nowrap;
    font-family: 'Noah-Bold';
    font-size: 13px;
    text-decoration: none;
    color: #333333;
}
.referral-btn::before {
    z-index: -1;
    border-radius: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
    .content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .content {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}