.footer {
    background: #2f323d;
    padding-top: 75px;
    padding-bottom: 95px;
    color: white;
}
.footer_logo {
    margin-bottom: 40px;
}
.row_footer {
    display: flex;
}
.footer_item:nth-child(1), .footer_item:nth-child(3) {
    width: 40%;
}
.footer_item:nth-child(2) {
    padding: 20px 60px;
    width: 20%;
    border-right: 1px solid #444751;
}
.footer_item:nth-child(3) {
    padding: 20px 0px 20px 60px;
}
.footer_item:nth-child(1) {
    border-right: 1px solid #444751;
}
.footer_item p {
    font-family: 'Noah-regular';
    font-size: 15px;
}
.footer_menu {
    margin-top: 55px;
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
}
.footer_menu_item {
    margin-bottom: 10px;
}
.footer_menu_item a {
    color: white;
    text-decoration: none;
    font-family: 'Noah-regular';
    font-size: 15px;
}
.footer_line {
    margin-top: 50px;
    height: 10px;
    background: #fa5e66; /* Old browsers */
    background: -moz-linear-gradient(left, #fa5e66 0%, #0078ba 50%, #00beb0 100%, #207cca 100%, #7db9e8 100%, #00beb0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5e66', endColorstr='#00beb0',GradientType=1 );
}
.footer_copyright {
    position: relative;
    padding-top: 15px;
    padding-left: 5px;
    font-family: 'Noah-Grotesque';
    font-size: 14px;
}
.row_button {
    position: absolute;
    right:60px;
    top:10px;
}
.footer_add_profile {
    padding: 10px 30px;
    background: #00a1b9;
    color: white;
    text-decoration: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 10px;
}
.footer_add_enter {
    padding: 10px 30px;
    background: #fa5e66;
    color: white;
    text-decoration: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.footer_desc {
    font-family: 'Noah-Grotesque';
    font-size: 20px;
}
.footer_phone a {
    color: white;
    text-decoration: none;
} 
.mt-20 {
    margin-top: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .row_footer {
        flex-wrap: wrap;
    }
    .footer_item:nth-child(1), .footer_item:nth-child(2), .footer_item:nth-child(3) {
        width: 100%;
        border: none;
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer_logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .footer_menu {
        margin-top: 20px;
    }
    .footer_line {
        margin-top: 20px;
    }
    .row_button {
        position: static;
        display: flex;
        justify-content: center;
        top:0px;
    }
    .footer_copyright {
        padding-top: 0px;
    }
    .text-copyright {
        margin-top: 20px;
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .footer_item:nth-child(2), .footer_item:nth-child(3) {
        padding-left: 20px;
        padding-right: 20px;
    }
}