*{
    margin: 0px;
    padding: 0px;
}
.container {
    width: 90%;
    max-width: 1270px;
    margin: 0 auto;
}
input:active, textarea:active, input:focus, button:active, button:focus {
    outline: none;
}
input::-moz-focus-inner {
    border: 0;
}
textarea::-moz-focus-inner {
    border: 0;
}
button {
    cursor: pointer;
}
.border_gradient {
    position: relative;
}
.border_gradient::before {
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    border-radius: 4px;
    background: #fa5e66;
    background: -moz-linear-gradient(left, #fa5e66 0%, #0078ba 50%, #00beb0 100%, #207cca 100%, #7db9e8 100%, #00beb0 100%);
    background: -webkit-linear-gradient(left, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    background: linear-gradient(to right, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5e66', endColorstr='#00beb0',GradientType=1 );
}
.pt-30 {
    padding-top: 30px;
}
.color_black {
    color: #333!important;
}
.text_left {
    text-align: left!important;
}
.bg_gray {
    background: #f4f5f5!important;
}