.title_item {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.42857143;
    color: #333;
    font-family: 'Podkova', serif;
    box-sizing: inherit;
    margin: 0;
    padding: 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid #f4f4f4;
    font-size: 18px;
    font-weight: 600;
}