.wrapper_input {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
}
.mm_input {
    height: 50px;
    background: var(--color_3);
    border-bottom: 4px solid var(--color_1);
    width: 100%;
    padding: 10px;
    font-family: 'Podkova', Serif;
    font-weight: bold;
}
.wrapper_button_add {
    border-top:3px solid var(--color_3);
    padding: 15px;
    width: 100%;
}
.btn_add {
    padding: 10px 20px;
    background: var(--color_4);
    color: var(--color_3);
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 4px;
    font-family: 'Podkova', Serif;
}
.btn_add:hover {
    background: var(--color_1);
}