.research_main_screen {
    padding-top: 130px;
    padding-bottom: 120px;
    position: relative;
    background: url("/uploads/research.jpg") no-repeat 100% 100%;
    background-size: cover;
}
.clinic_main_screen {
    background: url("/uploads/clinic_bg.jpg") no-repeat 100% 100%;
    background-size: cover;
}
.research_main_screen_left {
    width: 60%;
}
.research_main_screen h1 {
    font-family: 'Noah-Grotesque';
    font-size: 52px;
    font-weight: 100;
    line-height: 54px;
    position: relative;
}
.research_main_screen h1::before {
    content: '';
    width: 80px;
    height: 5px;
    background: #fa5e66;
    background: -moz-linear-gradient(left, #fa5e66 0%, #0078ba 50%, #00beb0 100%, #207cca 100%, #7db9e8 100%, #00beb0 100%);
    background: -webkit-linear-gradient(left, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    background: linear-gradient(to right, #fa5e66 0%,#0078ba 50%,#00beb0 100%,#207cca 100%,#7db9e8 100%,#00beb0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5e66', endColorstr='#00beb0',GradientType=1 );
    position: absolute;
    left: -20px;
    bottom: -20px;
}
.research_main_screen_des {
    font-family: 'Noah-Grotesque';
    font-size: 18px;
    margin-top: 40px;
}
.row_research_main_filters {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.research_main_item {
    width: 30%;
    margin-bottom: 20px;
    position: relative;
    height: 40px;
    min-width: 235px;
}
.research_main_item select, .research_main_item input {
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    border:none;
    position: absolute;
    left:0px;
    top:0px;
    z-index: 1;
    border-radius: 4px;
}
.research_main_item_checkbox {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
}
.custom_checkbox {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.research_main_item_checkbox_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.research_main_item_checkbox_wrapper:nth-child(2) {
    margin-left:25px;
}

.checkbox_body {
    width: 25px;
    height: 25px;
    background: white;
    display: block;
    position: absolute;
    top:0px;
    left:0px;
    box-sizing: border-box;
}
.active_checkbox {
    background: #00a1b9;
    border: 4px solid white;
}
.search_btn {
    padding: 28px;
    border-radius: 50px;
    background: url(/uploads/btn_profile_bg.png) no-repeat 100% 100%;
    background-size: cover;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    display: block;
    font-family: 'Noah-Bold';
    font-size: 13px;
    text-align: center;
    width: 245px;
    margin-right: 76px;
}
.clear_filters {
    text-decoration: underline;
    font-family: 'Noah-regular';
    font-size: 15px;
    color: #fa5e66;
}
.row_research_main_buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.research_main_total_count {
    font-family: 'Noah-Bold';
    font-size: 30px;
}
.max_width_500 {
    max-width: 500px;
}
@media (min-width: 320px) and (max-width: 767px) {
    .research_main_item_checkbox {
        flex-wrap: wrap;
    }
    .research_main_item_checkbox_wrapper:nth-child(2) {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .research_main_screen {
        background: white;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .research_main_screen h1 {
        text-align: center;
    }
    .research_main_screen_left {
        width: 100%;
    }
    .research_main_screen h1::before {
        left: 50%;
        transform: translateX(-50%);
    }
    .research_main_item {
        width: 100%;
    }
    .research_main_item_checkbox {
        justify-content: flex-start;
    }
    .search_btn {
        margin-right: 0px;
    }
    .row_research_main_buttons {
        margin-top: 40px;
        justify-content: space-between;
    }
    .search_btn {
        padding:16px;
        width: 160px;
    }
    .research_main_total_count {
        font-size: 25px;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .research_main_screen {
        background: white;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .research_main_screen h1 {
        text-align: center;
    }
    .research_main_screen_left {
        width: 100%;
    }
    .research_main_screen h1::before {
        left: 50%;
        transform: translateX(-50%);
    }
    .research_main_item {
        width: 100%;
    }
    .research_main_item_checkbox {
        justify-content: flex-start;
    }
    .max_width_500 {
        max-width: none;
    }
}